body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.form-image-wrapper {
  display: flex;
  width: 100%;
}

.signup-form {
  padding: 10px;
  flex: 1;
}

.image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper img {
  max-width: 100%;
  height: auto;
}

.merging {
  margin-bottom: 15px;
}

.merging label {
  display: block;
  margin-bottom: 5px;
}

.merging input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox input {
  margin-right: 10px;
}

.signup-button {
  width: 404px;
  height: 32px;
  padding: 10px;
  font-size: 18px;
  color: white;
  background: linear-gradient(to right, #34a853, #6acb7b);
  border: none;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s;
}
.signin-text {
  text-align: center;
  margin-top: auto; /* Push to the bottom */
  padding-top: 20px; /* Add padding for spacing */
  font-size: 14px; /* Slightly smaller font */
}
.signup-text {
  text-align: center;
  margin-bottom: auto; /* Push to the bottom */
  padding-top: 20px; /* Add padding for spacing */
  font-size: 14px; /* Slightly smaller font */
}

.signup-button:hover {
  background: linear-gradient(to right, #6acb7b, #34a853);
}

.social-signin {
  display: flex;
  justify-content: space-between;
}

.social-button {
  display: flex;
  align-items: center;
  padding: 10px;
  width: calc(50% - 10px);
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
}

.social-button i {
  margin-right: 10px;
}

.social-button.google-button {
  color: #db4437;
}

.social-button.apple-button {
  color: #000;
}

.signin-text {
  text-align: center;
}

/* Style the Verify button */
#verifyOTP {
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  color: white;
  background: linear-gradient(to right, #34a853, #6acb7b);
  border: none;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s;
   margin-top: 20px; /* Add space above the button */
}

#verifyOTP:hover {
  background: linear-gradient(to right, #6acb7b, #34a853);
}
